body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./img/main.jpg");
  backdrop-filter: blur(35px);
  background-attachment: fixed;
}

textarea,
input,
button {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 8px;
  font-size: 17px;
  color: black;
  resize: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#sidebar {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)),
    url("./img/main.jpg");
  width: 34rem;
  border: 3px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease;
  overflow-y: auto;
  background-size: contain;
  background-attachment: fixed;
  z-index: 101;
}

#sidebar h1 {
  text-align: center;
  color: white;
}

@keyframes borderChange {
  0% {
    border-image: linear-gradient(
      90deg,
      #ff6b6b,
      #48dbfb,
      #1dd1a1,
      #feca57,
      #5f27cd,
      #ff9f43
    );
    border-image-slice: 1;
  }
  10% {
    border-image: linear-gradient(
      90deg,
      #ff9f43,
      #ff6b6b,
      #48dbfb,
      #1dd1a1,
      #feca57,
      #5f27cd
    );
    border-image-slice: 2;
  }
  20% {
    border-image: linear-gradient(
      90deg,
      #5f27cd,
      #ff9f43,
      #ff6b6b,
      #48dbfb,
      #1dd1a1,
      #feca57
    );
    border-image-slice: 3;
  }
  30% {
    border-image: linear-gradient(
      90deg,
      #feca57,
      #5f27cd,
      #ff9f43,
      #ff6b6b,
      #48dbfb,
      #1dd1a1
    );
    border-image-slice: 4;
  }
  40% {
    border-image: linear-gradient(
      90deg,
      #1dd1a1,
      #feca57,
      #5f27cd,
      #ff9f43,
      #ff6b6b,
      #48dbfb
    );
    border-image-slice: 5;
  }
  50% {
    border-image: linear-gradient(
      90deg,
      #48dbfb,
      #1dd1a1,
      #feca57,
      #5f27cd,
      #ff9f43,
      #ff6b6b
    );
    border-image-slice: 6;
  }
  60% {
    border-image: linear-gradient(
      90deg,
      #ff6b6b,
      #48dbfb,
      #1dd1a1,
      #feca57,
      #5f27cd,
      #ff9f43
    );
    border-image-slice: 7;
  }
  70% {
    border-image: linear-gradient(
      90deg,
      #ff9f43,
      #ff6b6b,
      #48dbfb,
      #1dd1a1,
      #feca57,
      #5f27cd
    );
    border-image-slice: 8;
  }
  80% {
    border-image: linear-gradient(
      90deg,
      #5f27cd,
      #ff9f43,
      #ff6b6b,
      #48dbfb,
      #1dd1a1,
      #feca57
    );
    border-image-slice: 9;
  }
  90% {
    border-image: linear-gradient(
      90deg,
      #feca57,
      #5f27cd,
      #ff9f43,
      #ff6b6b,
      #48dbfb,
      #1dd1a1
    );
    border-image-slice: 10;
  }
  100% {
    border-image: linear-gradient(
      90deg,
      #1dd1a1,
      #feca57,
      #5f27cd,
      #ff9f43,
      #ff6b6b,
      #48dbfb
    );
    border-image-slice: 11;
  }
}

#sidebar > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

#sidebar > div form {
  position: relative;
}

#sidebar > div form input[type="search"] {
  width: 100%;
  height: 45px;
  padding: 14px 20px;
  padding-left: 2rem;
  animation: borderChange 5s infinite linear;
  border: 2px solid transparent;
  padding: 14px 32px;
  color: white;
  font-size: 17px;
  font-family: Arial, sans-serif;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#sidebar > div form input[type="search"]::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#sidebar > div form input[type="search"]:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

#sidebar ul {
  margin: 10px 10px;
  padding: 0;
}

#sidebar li {
  margin-bottom: 10px;
}

#sidebar i {
  color: white;
}

#sidebar a {
  text-decoration: none;
  color: white;
}

#detail {
  flex: 1;
  padding: 2rem 4rem;
  width: 100%;
  color: white;
}

#detail p {
  color: white;
}

#detail.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* My Styles */

.task-item {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("./img/main.jpg");
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  border: 2px solid transparent;
  animation: borderChange 3s infinite linear;
}

.task-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.button-container button {
  padding: 8px 16px;

  color: white;
  border: none;
  cursor: pointer;
}

/* Edit Button */
.edit-btn {
  background-color: #011e25;
}

/* Check btn */
.check-btn {
  background-color: red;
}

/* Trash Btn */
.trash-btn {
  background-color: #ff6b6b;
}

.filter-btns {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  align-items: center;
}

.filter-btn {
  padding: 10px 14px;
  width: 160px;
  margin-right: 2px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #011e25;
  color: #fff;
  outline: none;
  position: relative;
  overflow: hidden;
}

.filter-btn:focus {
  background-color: rgba(149, 145, 145, 0.809);
  text-decoration: underline;
}

.cancel-btn {
  width: 130px;
  padding: 10px 14px;
  margin-right: 2px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #ff8a8a;

  color: #fff;
  font-weight: bold;
  outline: none;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.save-btn {
  width: 130px;
  padding: 10px 14px;
  margin-right: 2px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #009100;
  font-weight: bold;
  color: #fff;
  outline: none;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.check-btn.completed {
  background-color: #009100;
  color: #fff;
}

.completed-task {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  opacity: 0.6;
  transition: opacity 0.4s ease-in-out;
}

.add {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("./img/main.jpg");
  background-position: cover;
  animation: borderChange 5s infinite linear;
  border: 2px solid transparent;
  color: white;
  padding: 14px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
}

.add::before,
.add::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  z-index: -1;
}

.add::before {
  transform: rotate(45deg);
}

.add::after {
  transform: rotate(-45deg);
}

.add:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.add:hover::before,
.add:hover::after {
  background-color: rgba(255, 255, 255, 0.109);
}

#sidebar h1 {
  font-family: "Arial", sans-serif;
  font-size: 40px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
    0 0 20px rgba(255, 255, 255, 0.9), 0 0 30px rgba(255, 255, 255, 0.9),
    0 0 40px rgba(255, 255, 255, 0.9);
}

h1:hover {
  opacity: 1;
}

h1::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background-color: #ffffff;
  opacity: 0.5;
  transition: width 0.3s ease;
}

h1:hover::before {
  width: 100%;
}

textarea,
input {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 8px;
  font-size: 17px;
  color: white;
  background-color: #011e25;
  resize: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  transition: border-color 0.4s ease, transform 0.3s ease,
    background-color 0.4s ease, box-shadow 0.3s ease;
}

textarea:focus,
input:focus {
  outline: none;
  border-color: #025d74;
  transform: scale(1.02);
  background-color: rgba(255, 192, 203, 0.1);
  box-shadow: 0 0 10px 3px rgba(139, 0, 139, 0.2);
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}

textarea::placeholder,
input::placeholder {
  color: rgba(0, 0, 0, 0.363);
  font-style: italic;
  font-weight: bold;
}

h2 {
  font-family: "Arial", sans-serif;
  font-size: 36px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
    0 0 20px rgba(255, 255, 255, 0.9), 0 0 30px rgba(255, 255, 255, 0.9),
    0 0 40px rgba(255, 255, 255, 0.9);
}

h2:hover {
  opacity: 1;
}

h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background-color: #ffffff;
  opacity: 0.5;
  transition: width 0.3s ease;
}

h2:hover::before {
  width: 100%;
}

.edit-par {
  font-family: "Impact", sans-serif;
  font-size: 20px;
  line-height: 1.6;

  text-align: justify;

  transform: skewX(-10deg);
  animation: wiggle 1s infinite alternate;
}

.edit-par:first-letter {
  font-size: 120%;
  color: #021f47;
  transform: rotate(15deg);
  float: left;
}

@keyframes wiggle {
  0% {
    transform: skewX(-10deg);
  }
  100% {
    transform: skewX(10deg);
  }
}

.task-details-container {
  opacity: 0;
  transform: translateY(20px);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-color: #011e25;
  padding: 30px;
  margin: 20px auto;
  max-width: 600px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  animation: fadeInUp 0.5s ease forwards;
}

.task-details-container:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 20%;
  height: 120%;
  background-color: #333;
  transform: rotate(45deg);
  transition: all 0.3s ease;
  z-index: -1;
}

.task-details-container:hover:before {
  width: 120%;
  height: 120%;
  top: -20px;
  left: -20%;
}

.task-details-title {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: color 0.3s ease;
}

.task-details-description {
 font-size: 26px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: color 0.3s ease;
}

.task-details-container:hover .task-details-title {
  color: #f5d76e;
}

.task-details-container:hover .task-details-description {
  color: #eaeaea;
}

.task-details-container:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.task-title,
.task-description {
  font-size: 21px;
  color: white;
}

